/*
 * Custom CSS for: Vincomobile DEMO (Cosmetics)
 *
 * Copyright © 2020 Vincomobile. All rights reserved.
 */

/************************************************************
 * Customizations for: app-loading-page
 ************************************************************/

.app-loading-page-container {
    background: #4A148C !important;
}

/************************************************************
 * Customizations for: app-login-layout
 ************************************************************/
.app-login-layout-toolbar {
    height: 6rem;
}

.app-login-layout-header .mat-toolbar img {
    margin-left: auto;
}

.app-login-layout-content {
    background-size: 100% 100% !important;
    background: linear-gradient(rgba(255,255,255,.7), rgba(175,125,167,.99)), url(cosmetics/login_bg.jpg) no-repeat;
}

.app-login-layout-form {
    order: 1;
}

.app-login-layout-info {
    order: 2;
}

.app-login-layout-form-container .mat-card-actions {
    text-align: left !important;
}

/************************************************************
 * Customizations for: uiux-notification
 ************************************************************/
.uiux-notification-panel-message a {
    color: darkblue;
}
