/*
 * Custom CSS for: Vincomobile DEMO (Furniture & Decorations)
 *
 * Copyright © 2020 Vincomobile. All rights reserved.
 */

/************************************************************
 * Customizations for: app-loading-page
 ************************************************************/

.app-loading-page-container {
    background: #3E2723 !important;
}

/************************************************************
 * Customizations for: app-login-layout
 ************************************************************/
.app-login-layout-toolbar {
    height: 6rem;
}

.app-login-layout-header .mat-toolbar img {
    margin: auto;
}

.app-login-layout-content {
    background-size: 100% 100% !important;
    background: linear-gradient(rgba(255,255,255,.7), rgba(93,64,55,.99)), url(deco/login_bg.jpg) no-repeat;
}

/************************************************************
 * Customizations for: uiux-notification
 ************************************************************/
.uiux-notification-panel-message a {
    color: darkblue;
}
