:host {
    .login-info-deco-container {
        max-width: 50rem;
        width: 90%;
        margin: 3rem auto;
    }

    .login-info-deco-container li a {
        color: white;
        text-decoration: none;
    }
}
