<div class="login-info-deco-container">
    <uiux-notification-panel [mode]="'info'">
        <strong>Usuarios disponibles</strong>
        <ul>
            <li>Comestica: cosmetics / Demo20</li>
        </ul>
        <strong>Ver también las DEMOS</strong>
        <ul>
            <li><a href="https://demoretail.vincomobile.com">https://demoretail.vincomobile.com</a></li>
            <li><a href="https://demodeco.vincomobile.com">https://demodeco.vincomobile.com</a></li>
        </ul>
    </uiux-notification-panel>
</div>
