<div class="login-info-retail-container">
    <div>
        <uiux-notification-panel [mode]="'info'">
            <strong>Usuarios disponibles</strong>
            <ul>
                <li>Comercio minorista: retail / Demo20</li>
            </ul>
            <strong>Ver también las DEMOS</strong>
            <ul>
                <li><a href="https://demodeco.vincomobile.com">https://demodeco.vincomobile.com</a></li>
                <li><a href="https://democosmetics.vincomobile.com">https://democosmetics.vincomobile.com</a></li>
            </ul>
        </uiux-notification-panel>
    </div>
</div>
